In [40]:
import pandas as pd

In [36]:
def describe_categorical_columns(df: pd.DataFrame):
    """
    Describe the categorical columns of a given DataFrame.
    
    For each categorical column, this function prints:
    1. Unique values in the column.
    2. Count of each unique value.
    
    Parameters:
    - df (pd.DataFrame): The input DataFrame to be analyzed.
    
    Returns:
    None. The function prints the results.
    """
    
    for column in df.columns:
        # Check if the column has an 'object' data type (categorical).
        if df[column].dtype == 'object':
            print(f"Column '{column}':")
            
            # Print unique values in the column.
            unique_values = df[column].unique()
            print("Unique Values:")
            print(unique_values)
            
            # Print value counts for each unique value.
            print("Value Counts:")
            value_counts = df[column].value_counts()
            print(value_counts)
            
            print()  # Add an empty line for separation.

# To use the function:
# describe_categorical_columns(your_dataframe)

## Initial Inspection of Both Datasets

In [6]:
df = pd.read_csv(r"asserts\Electric_Vehicle_Population_Data.csv")
df.head(5)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5UXTA6C03P,King,Seattle,WA,98177.0,2023,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,30,0,36.0,218985539,POINT (-122.38242499999996 47.77279000000004),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
1,1FMCU0EZXN,Yakima,Moxee,WA,98936.0,2022,FORD,ESCAPE,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,38,0,15.0,197264322,POINT (-120.37951169999997 46.55609000000004),PACIFICORP,5.307700e+10
2,1G1FW6S03J,King,Seattle,WA,98117.0,2018,CHEVROLET,BOLT EV,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,0,36.0,168549727,POINT (-122.37275999999997 47.689685000000054),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
3,5YJSA1AC0D,King,Newcastle,WA,98059.0,2013,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208,69900,41.0,244891062,POINT (-122.15733999999998 47.487175000000036),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
4,1FADP5CU8F,Kitsap,Bremerton,WA,98312.0,2015,FORD,C-MAX,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,19,0,26.0,134915000,POINT (-122.65223 47.57192),PUGET SOUND ENERGY INC,5.303508e+10

In [35]:
df["Clean Alternative Fuel Vehicle (CAFV) Eligibility"].value_counts().head(5)

Clean Alternative Fuel Vehicle (CAFV) Eligibility
Eligibility unknown as battery range has not been researched    63954
Clean Alternative Fuel Vehicle Eligible                         62149
Not eligible due to low battery range                           17493
Name: count, dtype: int64

In [17]:
df_wa = df[df["State"] == 'WA']
df_wa["Legislative District"].value_counts().head(5)

Legislative District
41.0    9553
45.0    8807
48.0    8045
36.0    6270
1.0     6209
Name: count, dtype: int64

In [18]:
df_wa["Electric Utility"].value_counts().head(5)

Electric Utility
PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)                                      52866
PUGET SOUND ENERGY INC                                                             28419
CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)                                       26145
BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF CLARK COUNTY - (WA)                    8255
BONNEVILLE POWER ADMINISTRATION||CITY OF TACOMA - (WA)||PENINSULA LIGHT COMPANY     6351
Name: count, dtype: int64

## Column Dictionary

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143596 entries, 0 to 143595
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         143596 non-null  object
 1   County                                             143574 non-null  object
 2   City                                               143574 non-null  object
 3   State                                              143596 non-null  object
 4   Postal Code                                        143574 non-null  float64
 5   Model Year                                         143596 non-null  int64
 6   Make                                               143596 non-null  object
 7   Model                                              143596 non-null  object
 8   Electric Vehicle Type                              143596 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  143596 non-null  object
 10  Electric Range                                     143596 non-null  int64
 11  Base MSRP                                          143596 non-null  int64
 12  Legislative District                               143269 non-null  float64
 13  DOL Vehicle ID                                     143596 non-null  int64
 14  Vehicle Location                                   143571 non-null  object
 15  Electric Utility                                   143574 non-null  object
 16  2020 Census Tract                                  143574 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 18.6+ MB

- VIN (1-10): VINs are unique identifiers for individual vehicles.

- County, City, State, Postal Code: These are geographic identifiers that specify where the vehicle is located.

- Model Year: The year the vehicle model was manufactured.

- Make, Model: The brand and the specific model of the vehicle.

- Electric Vehicle Type:Plug-in Hybrid Electric Vehicle (PHEV) or Battery Electric Vehicle (BEV).

- Clean Alternative Fuel Vehicle (CAFV) Eligibility: Indicates whether the vehicle is eligible for any clean alternative fuel vehicle programs or incentives.

- Electric Range: Represents the range of the vehicle on a single electric charge, usually in miles or kilometers.

- Base MSRP: Manufacturer's Suggested Retail Price; we may not need it.

- Legislative District: Probably relates to the legislative or governmental district where the vehicle is registered.

- DOL Vehicle ID: Department of Licensing Vehicle ID, another unique identifier for the vehicle.

- Vehicle Location: Appears to be the longitude and latitude coordinates of the vehicle location.

- Electric Utility: The electric utility provider in the vehicle's geographic area.

- 2020 Census Tract: A geographic region defined for the purpose of taking a census. Useful for sociodemographic analysis.

In [19]:
# Check for duplicate rows in the dataframe
duplicate_rows = df.duplicated()

# Count the number of duplicate rows
num_duplicate_rows = duplicate_rows.sum()

print(f"Number of duplicate rows = {duplicate_rows.sum()}")

Number of duplicate rows = 0

In [20]:
missing_values = df.isnull().sum()
for column, count in missing_values.items():
    print(f"Column '{column}' has {count} missing values.")

Column 'VIN (1-10)' has 0 missing values.
Column 'County' has 22 missing values.
Column 'City' has 22 missing values.
Column 'State' has 0 missing values.
Column 'Postal Code' has 22 missing values.
Column 'Model Year' has 0 missing values.
Column 'Make' has 0 missing values.
Column 'Model' has 0 missing values.
Column 'Electric Vehicle Type' has 0 missing values.
Column 'Clean Alternative Fuel Vehicle (CAFV) Eligibility' has 0 missing values.
Column 'Electric Range' has 0 missing values.
Column 'Base MSRP' has 0 missing values.
Column 'Legislative District' has 327 missing values.
Column 'DOL Vehicle ID' has 0 missing values.
Column 'Vehicle Location' has 25 missing values.
Column 'Electric Utility' has 22 missing values.
Column '2020 Census Tract' has 22 missing values.

A more comprehensive view of categorical columns by showing both unique values and their corresponding counts.

In [37]:
describe_categorical_columns(df)

Column 'VIN (1-10)':
Unique Values:
['5UXTA6C03P' '1FMCU0EZXN' '1G1FW6S03J' ... 'WBY8P2C0XL' 'KMHCX5LD1L'
 'W1KCG5FB2P']
Value Counts:
VIN (1-10)
7SAYGDEE7P    652
7SAYGDEE2P    636
7SAYGDEE6P    632
7SAYGDEE8P    628
7SAYGDEE0P    619
             ...
WP0BC2Y1XP      1
WA1VABGE1N      1
YV4BR0CK1N      1
WA1G2AFY1L      1
W1KCG5FB2P      1
Name: count, Length: 9311, dtype: int64

Column 'County':
Unique Values:
['King' 'Yakima' 'Kitsap' 'Thurston' 'Snohomish' 'Kittitas' 'Skagit'
 'Island' 'Pend Oreille' 'Walla Walla' 'Chelan' 'Whitman' 'Spokane'
 'Kings' nan 'Mason' 'Clark' 'Cowlitz' 'Jefferson' 'Clallam' 'Benton'
 'Stevens' 'Lewis' 'Pierce' 'Douglas' 'Grant' 'Grays Harbor' 'Klickitat'
 'Whatcom' 'San Juan' 'Skamania' 'Lincoln' 'Pacific' 'Franklin'
 'Wahkiakum' 'Asotin' 'Laramie' 'Adams' 'Okanogan' 'Maricopa' 'Columbia'
 'District of Columbia' 'Ferry' 'San Diego' 'Lake' 'DeKalb' 'Bexar' 'Lee'
 'Santa Clara' 'Stafford' 'Contra Costa' 'Kern' 'Los Angeles' 'Saratoga'
 'Orange' 'Anne Arundel' 'Marin' 'Oldham' 'Nueces' 'Frederick' 'Goochland'
 'Hoke' 'Wichita' 'Sacramento' 'Polk' 'Loudoun' 'Garfield' 'Cumberland'
 'San Bernardino' 'Fairfax' 'Santa Cruz' 'El Paso' 'Multnomah' 'Platte'
 'Madison' 'Yellowstone' 'Harrison' "Prince George's" 'Calvert' 'Cook'
 'Sheridan' 'Montgomery' 'Harnett' 'Riverside' 'Suffolk' 'Elmore'
 'Santa Barbara' 'Hillsborough' 'Houston' 'Ray' 'Hawaii' 'Plaquemines'
 'Sarasota' 'Rockdale' 'Richmond' 'Alameda' 'Alexandria' 'Napa' 'Berkeley'
 'Honolulu' 'Charles' 'Kent' 'Chesapeake' 'Carroll' 'Las Animas'
 'Burlington' 'Beaufort' 'Hamilton' 'Newport News' 'Miami-Dade' 'Solano'
 'Emmet' 'Arapahoe' 'Pulaski' 'Sonoma' 'Tarrant' 'St. Clair' 'Essex'
 'New London' 'Jackson' 'Norfolk' 'New Haven' 'Coryell' 'Charleston'
 'Portsmouth' 'Middlesex' 'Onslow' 'Champaign' 'Sedgwick' 'Hennepin'
 'Rock Island' 'Bell' 'Boulder' 'Vernon' 'Dorchester' 'Moore' "St. Mary's"
 'Ventura' 'Gwinnett' 'Yavapai' 'Kauai' 'Howard' 'Virginia Beach' 'Camden'
 'Kootenai' 'Travis' 'Washington' 'Hudson' 'Larimer' 'Lane' 'Rockingham'
 'Arlington' 'Randolph' 'Placer' 'Broward' 'Williamson' 'Monterey' 'Sarpy'
 'St. Tammany' 'Leavenworth' 'St. Louis' 'Salt Lake' 'Collin' 'Galveston'
 'Hidalgo' 'Ulster' 'Allen' 'Cape May' 'Dallas' 'Escambia' 'Wilson']
Value Counts:
County
King         75383
Snohomish    16429
Pierce       11017
Clark         8455
Thurston      5097
             ...
Kent             1
Berkeley         1
Napa             1
Rockdale         1
Wilson           1
Name: count, Length: 170, dtype: int64

Column 'City':
Unique Values:
['Seattle' 'Moxee' 'Newcastle' 'Bremerton' 'Selah' 'Bellevue' 'Olympia'
 'Yakima' 'Redmond' 'Kingston' 'Kirkland' 'Lake Stevens' 'Mukilteo'
 'Bothell' 'Port Orchard' 'Federal Way' 'Marysville' 'Olalla' 'Rainier'
 'Renton' 'Shoreline' 'Rochester' 'Arlington' 'Yelm' 'Edmonds' 'Easton'
 'Des Moines' 'Toppenish' 'Poulsbo' 'Mill Creek' 'Suquamish' 'Lacey'
 'Silverdale' 'Bainbridge Island' 'Kent' 'Everett' 'Ellensburg'
 'Anacortes' 'Coupeville' 'Elk' 'Walla Walla' 'Wenatchee' 'Palouse'
 'Monroe' 'Lynnwood' 'Mount Vernon' 'Snohomish' 'Pullman' 'Stanwood' 'Bow'
 'Tumwater' 'Clinton' 'Spokane' 'Zillah' 'Leavenworth' 'Langley' 'Lemoore'
 nan 'Cle Elum' 'Waitsburg' 'Belfair' 'Chelan' 'Seatac' 'Tukwila'
 'Sammamish' 'Vancouver' 'Seabeck' 'Camas' 'Longview' 'Lake Forest Park'
 'Auburn' 'Port Townsend' 'Castle Rock' 'Woodinville' 'Brush Prairie'
 'Burien' 'Medina' 'Covington' 'Kenmore' 'Woodland' 'Yacolt' 'Oak Harbor'
 'Issaquah' 'Battle Ground' 'Indianola' 'Maple Valley' 'Ridgefield'
 'Sultan' 'Normandy Park' 'La Center' 'Port Angeles' 'Duvall' 'Washougal'
 'Richland' 'Mercer Island' 'Brinnon' 'Sequim' 'Colville' 'Port Hadlock'
 'Centralia' 'Enumclaw' 'Kalama' 'Kelso' 'Beaux Arts' 'Tacoma'
 'North Bend' 'Camano Island' 'Silverlake' 'Edgewood' 'Gig Harbor'
 'Puyallup' 'Port Ludlow' 'Algona' 'Fall City' 'Quilcene' 'Grandview'
 'Nine Mile Falls' 'Kennewick' 'Tenino' 'East Wenatchee' 'Cheney' 'Orting'
 'Bonney Lake' 'Quincy' 'Clyde Hill' 'Vashon' 'Aberdeen' 'Freeland'
 'Carnation' 'Lakewood' 'Woodway' 'Bingen' 'Black Diamond' 'Bellingham'
 'Eastsound' 'Buckley' 'Elma' 'Outlook' 'Evans' 'Ariel' 'White Salmon'
 'Pacific' 'Nordland' 'Tulalip' 'Spokane Valley' 'Carson' 'Amboy'
 'Sunnyside' 'Entiat' 'Granite Falls' 'Brier' 'Darrington' 'Cashmere'
 'Wilbur' 'Bucoda' 'Moses Lake' 'Sedro Woolley' 'Long Beach' 'Forks'
 'South Hill' 'Anderson Island' 'Granger' 'Wapato' 'Mabton' 'Naches'
 'Spanaway' 'Fox Island' 'Mccleary' 'Fircrest' 'Ferndale' 'Chehalis'
 'Steilacoom' 'Medical Lake' 'Salkum' 'Grapeview' 'Keyport' 'Lopez Island'
 'Fairchild Air Force Base' 'Lopez Is' 'Gold Bar' 'Snoqualmie'
 'Mountlake Terrace' 'Hunts Point' 'Goldendale' 'Chimacum' 'Tieton'
 'Milton' 'Hansville' 'Toutle' 'Union Gap' 'Cowiche' 'Yarrow Point'
 'Chewelah' 'Skykomish' 'Index' 'Greenbank' 'Joint Base Lewis Mcchord'
 'Pasco' 'Vader' 'Friday Harbor' 'Montesano' 'Packwood' 'Rosalia'
 'Eatonville' 'Mossyrock' 'Mattawa' 'Greenacres' 'Sedro-Woolley'
 'Burlington' 'Winlock' 'Blaine' 'Veradale' 'Ocean Park' 'Dupont' 'Graham'
 'Stevenson' 'Toledo' 'Cathlamet' 'Ocean Shores' 'Underwood'
 'Liberty Lake' 'Clarkston' 'Parkland' 'Royal City' 'Prosser' 'Newport'
 'Peshastin' 'Neah Bay' 'Mead' 'Cheyenne' 'La Conner' 'Othello' 'Raymond'
 'Shelton' 'Lynden' 'West Richland' 'Roy' 'North Cove' 'Everson'
 'Benton City' 'Shaw Island' 'Olga' 'Murdock' 'Kettle Falls' 'Chattaroy'
 'Twisp' 'Morton' 'Cosmopolis' 'Ephrata' 'Warden' 'Airway Heights'
 'Garfield' 'South Prairie' 'Grayland' 'Husum' 'Lake Tapps' 'Valleyford'
 'Onalaska' 'Allyn' 'Omak' 'Colfax' 'Point Roberts' 'Bz Corner' 'Mazama'
 'North Bonneville' 'Sumner' 'Waldron' 'Oroville' 'Omaha' 'Pacific Beach'
 'Tempe' 'Hoquiam' 'Trout Lake' 'Ashford' 'Orondo' 'Lummi Island' 'Union'
 'Westport' 'Roosevelt' 'Dayton' 'Uniontown' 'Ilwaco' 'Okanogan'
 'College Place' 'Newman Lake' 'Clallam Bay' 'Winthrop' 'Ritzville'
 'Lakebay' 'Connell' 'Colbert' 'Hoodsport' 'Manson' 'Maple Falls'
 'Kittitas' 'Naselle' 'Washington' 'Rice' 'Fife' 'Snowden' 'Mesa'
 'Brewster' 'Republic' 'Lind' 'Snoqualmie Pass' 'Deer Park' 'Roslyn'
 'Clearlake' 'University Place' 'Curtis' 'Malaga' 'Vaughn' 'Oceanside'
 'Highland Park' 'Thorp' 'Glenoma' 'Klickitat' 'Oysterville' 'Burbank'
 'Libertyville' 'Silver Creek' 'Decatur' 'San Antonio' 'Reardan'
 'Otis Orchards' 'Smiths Station' 'Bridgeport Bar' 'Cinebar' 'Tahuya'
 'Ronald' 'Cusick' 'Ruston' 'Carlton' 'Copalis Crossing' 'Touchet'
 'Riverside' 'Santa Clara' 'Ethel' 'Baring' 'Tonasket' 'Stafford'
 'Pittsburg' 'Methow' 'Ridgecrest' 'Soap Lake' 'Lamont' 'Concrete'
 'Oakville' 'Gardena' 'Ravensdale' 'Glacier' 'Sekiu' 'Waverly'
 'Greenfield Center' 'Valley' 'Asotin' 'Surfside' 'Hatton' 'Rockford'
 'Mineral' 'Rock Island' 'Rockport' 'Buena Park' 'Usk' 'Kapowsin' 'Mica'
 'McCleary' 'Annapolis' 'Lilliwaup' 'Harrington' 'Waterville' 'San Rafael'
 'Goshen' 'Taholah' 'Spangle' 'Beaver' 'Carbonado' 'Corpus Christi'
 'San Diego' 'Frederick' 'Electric City' 'Seaview' 'Henrico' 'Raeford'
 'Ione' 'Palisades' 'Nooksack' 'Randle' 'Endicott' 'Ford' 'Curlew'
 'Davenport' 'Tumtum' 'Elbe' 'Chinook' 'St John' 'Preston' 'Gambrills'
 'Orcas Is' 'Wahkiacus' 'Acme' 'Centerville' 'Lyle' 'Hamilton' 'Sumas'
 'Longbranch' 'Wichita Falls' 'Custer' 'Sacramento' 'Cougar'
 'South Cle Elum' 'Pateros' 'Amanda Park' 'Salem' 'Dallesport'
 'Grand Coulee' 'Addy' 'Las Vegas' 'Aldie' 'Wishram' 'Deming' 'Sprague'
 'Eltopia' 'Pomeroy' 'Deer Harbor' 'White Swan' 'Mechanicsburg' 'Napavine'
 'Moclips' 'Clayton' 'Tokeland' 'Bay Center' 'Wilkeson' 'Loon Lake'
 'Lacrosse' 'Satsop' 'Springdale' 'Walla Walla Co' 'Menlo' 'Phoenix'
 'Fort Irwin' 'Skamokawa' 'Alexandria' 'Fayetteville' 'Lyman' 'Edwall'
 'Santa Cruz' 'South Bend' 'Colorado Springs' 'Dryden' 'Edgewater' 'Tekoa'
 'Rosburg' 'Alderdale' 'Stratford' 'Portland' 'Hartline' 'Malott'
 'Platte City' 'Latah' 'Moraga' 'Gifford' 'Saint Jacob' 'Marlin'
 'Nahcotta' 'Billings' 'Biloxi' 'Lebam' 'Irvine' 'Fort Washington' 'Pros'
 'Chesapeake Beach' 'Coulee City' 'Arlington Heights' 'Sheridan'
 'Maryhill' 'Chevy Chase' 'Spring Lake' 'El Paso' 'Menifee' 'Coulee Dam'
 'Suffolk' 'Aurora' 'Middletown' 'Upper Marlboro' 'Quinault'
 'Mountain Home Afb' 'Chula Vista' 'Lompoc' 'Lithia' 'Deer Meadows'
 'Parker' 'Marblemount' 'Gaithersburg' 'Lincoln' 'Warner Robins'
 'Saratoga Springs' 'Rayville' 'Fredericksburg' 'Seven Bays' 'Kailua Kona'
 'Belle Chasse' 'Mansfield' 'Copalis Beach' 'Sarasota' 'Conyers' 'Hunters'
 'Potomac' 'Augusta' 'Fremont' 'Danville' 'Grays River' 'Laughlin'
 'Twentynine Palms' 'Napa' 'Odessa' 'Summerville' 'Pe Ell' 'Ewa Beach'
 'Hughesville' 'Nespelem' 'Herndon' 'Dover' 'Chesapeake' 'Rich'
 'Westminster' 'Wildomar' 'Inchelium' 'Trinidad' 'Medford' 'Frances'
 'Okatie' 'Fruitland' 'Cincinnati' 'Newport News' 'Cupertino' 'Plymouth'
 'Miami' 'Apple Valley' 'Benicia' 'Canoga Park' 'Petoskey' 'Burke'
 'Englewood' 'Little Rock' 'Santa Ana' 'Waldorf' 'San Clemente'
 'Santa Rosa' 'Southlake' 'Palo Alto' 'Fort Bragg' 'Staten Island'
 'Silver Spring' 'Glenwood' 'Belleville' 'Honolulu' 'Bloomfield'
 'Old Lyme' 'Kensington' 'Kenn' 'Altus' 'Norfolk' 'Madison' 'Gatesville'
 'Kailua' 'Watertown' 'Charleston Afb' 'Portsmouth' 'Pawcatuck'
 'Hanscom Afb' 'Lakeview' 'Mccutcheon Field' 'Arnold' 'Champaign'
 'Wichita' 'Minneapolis' 'Alhambra' 'Incorporated' 'Killeen' 'Longmont'
 'Mcchord Afb' 'Leesville' 'Travis Afb' 'Southern Pines' 'Sonoma'
 'Lexington Park' 'Ventura' 'Suwanee' 'Coronado' 'Prescott'
 'Cathedral City' 'Newport Beach' 'Odenton' 'Vacaville' 'Port Gamble'
 'Newark' 'Kekaha' 'Andrews Air Force Base' 'Bedford' 'Chantilly'
 'Virginia Beach' 'Goodyear' 'Haddonfield' 'Rosamond' 'Mystic'
 'Joint Base Mdl' 'Fort George G Meade' 'San Jose' 'Worley' 'Colton'
 'Orchards' 'Artondale' 'Austin' 'Waterford' 'Keedysville' 'Berkeley'
 'Jersey City' 'Timnath' 'Eugene' 'Corvallis' 'Los Angeles' 'Lincoln City'
 'Chandler' 'Anthem' 'Asheboro' 'Skokie' 'Roseville' 'Fort Lauderdale'
 'Round Rock' 'Seaside' 'Huntington Beach' 'Sanford' 'Bridgeport'
 'Slidell' 'Lansing' 'Saint Louis' 'Salt Lake City' 'Keller'
 'Port Hueneme' 'Prosper' 'Dickinson' 'Weslaco' 'Fort Wayne' 'Vienna'
 'Bell Hill' 'Avalon' 'Orcas' 'Elk Grove' 'Felts Mills' 'Chelmsford'
 'Hanover' 'Dallas' 'Indio' 'Pensacola' 'La Vernia']
Value Counts:
City
Seattle          24662
Bellevue          7376
Redmond           5245
Vancouver         5045
Bothell           4599
                 ...
Kailua Kona          1
Copalis Beach        1
Sarasota             1
Conyers              1
La Vernia            1
Name: count, Length: 655, dtype: int64

Column 'State':
Unique Values:
['WA' 'CA' 'VA' 'WY' 'NE' 'AZ' 'DC' 'IL' 'GA' 'TX' 'AL' 'NY' 'MD' 'KY'
 'NC' 'OR' 'NV' 'PA' 'CO' 'MO' 'MT' 'MS' 'ID' 'FL' 'HI' 'LA' 'SC' 'DE'
 'NJ' 'AP' 'OH' 'MI' 'AR' 'CT' 'OK' 'BC' 'MA' 'KS' 'MN' 'NH' 'UT' 'AK'
 'IN']
Value Counts:
State
WA    143269
CA        90
VA        36
MD        31
TX        21
NC        14
CO        11
AZ        10
IL         9
OR         8
NJ         7
HI         7
FL         7
CT         7
SC         6
NY         6
DC         5
NV         5
GA         5
LA         4
KY         3
MA         3
NE         3
MO         3
ID         2
WY         2
KS         2
OH         2
BC         2
AR         2
UT         2
NH         1
AK         1
MN         1
MS         1
OK         1
MI         1
AP         1
DE         1
MT         1
PA         1
AL         1
IN         1
Name: count, dtype: int64

Column 'Make':
Unique Values:
['BMW' 'FORD' 'CHEVROLET' 'TESLA' 'VOLVO' 'NISSAN' 'KIA' 'AUDI' 'TOYOTA'
 'RIVIAN' 'HONDA' 'PORSCHE' 'JEEP' 'CHRYSLER' 'HYUNDAI' 'FIAT'
 'VOLKSWAGEN' 'MITSUBISHI' 'MERCEDES-BENZ' 'LUCID' 'MINI' 'GENESIS'
 'MAZDA' 'TH!NK' 'CADILLAC' 'SUBARU' 'LEXUS' 'LINCOLN' 'SMART' 'JAGUAR'
 'POLESTAR' 'LAND ROVER' 'FISKER' 'AZURE DYNAMICS' 'ALFA ROMEO'
 'WHEEGO ELECTRIC CARS' 'BENTLEY']
Value Counts:
Make
TESLA                   65552
NISSAN                  13317
CHEVROLET               11816
FORD                     7307
BMW                      6209
KIA                      5922
TOYOTA                   5074
VOLKSWAGEN               3914
VOLVO                    3415
JEEP                     3084
AUDI                     2900
HYUNDAI                  2853
CHRYSLER                 2483
RIVIAN                   2209
PORSCHE                   999
MERCEDES-BENZ             958
FIAT                      817
HONDA                     809
MITSUBISHI                797
MINI                      772
SUBARU                    502
POLESTAR                  489
SMART                     271
LINCOLN                   227
JAGUAR                    220
LUCID                     176
CADILLAC                  143
LEXUS                     101
MAZDA                      88
GENESIS                    88
LAND ROVER                 44
FISKER                     16
AZURE DYNAMICS              8
ALFA ROMEO                  6
TH!NK                       4
WHEEGO ELECTRIC CARS        3
BENTLEY                     3
Name: count, dtype: int64

Column 'Model':
Unique Values:
['X5' 'ESCAPE' 'BOLT EV' 'MODEL S' 'C-MAX' 'IX' 'XC90' 'MODEL 3' 'LEAF'
 'VOLT' 'I3' 'MODEL X' 'NIRO' 'A3' 'MODEL Y' 'XC60' 'PRIUS PRIME' '330E'
 'E-TRON' 'R1T' 'CLARITY' 'SPARK' 'FUSION' 'CAYENNE' 'WRANGLER' 'OPTIMA'
 'RANGER' 'PACIFICA' 'SONATA' '500' 'Q5' 'Q4' 'SORENTO' 'SOUL' 'Q5 E'
 'MUSTANG MACH-E' 'ID.4' 'SOUL EV' 'BOLT EUV' 'R1S' 'GRAND CHEROKEE'
 'IONIQ' 'EV6' 'OUTLANDER' 'RAV4 PRIME' '530E' 'KONA ELECTRIC' 'XC40'
 'SPORTAGE' 'IONIQ 5' 'EQS-CLASS SUV' 'C40' 'PRIUS PLUG-IN' 'FOCUS' 'AIR'
 'I8' 'HARDTOP' 'GV60' 'EQB-CLASS' 'E-GOLF' 'S60' 'COUNTRYMAN' 'CX-90'
 'I4' 'CITY' 'ELR' 'E-TRON SPORTBACK' 'EQE-CLASS SUV' 'B-CLASS' 'X3'
 'CROSSTREK' 'F-150' 'PRIUS' 'RZ 450E' 'CORSAIR' 'EQ FORTWO' 'I-PACE'
 'PS2' 'TRANSIT' 'TAYCAN' 'E-TRON GT' 'FORTWO' 'BZ4X' 'Q8' 'KONA'
 'ROADSTER' 'SOLTERRA' 'FORTWO ELECTRIC DRIVE' 'V60' 'RS E-TRON GT'
 'PANAMERA' 'ARIYA' 'EQE-CLASS SEDAN' 'NX' 'AVIATOR' 'GV70' 'TUCSON'
 'EQS-CLASS SEDAN' 'G80' 'C-CLASS' 'ACCORD' 'GLE-CLASS' 'RAV4' 'IONIQ 6'
 'GLC-CLASS' 'SANTA FE' 'I-MIEV' '740E' 'S90' 'RANGE ROVER SPORT' 'EDV'
 'KARMA' 'A7' 'LYRIQ' 'TRANSIT CONNECT ELECTRIC' 'S-CLASS' 'RANGE ROVER'
 'TONALE' 'CT6' '745E' '918' 'WHEEGO' 'FLYING SPUR' '745LE' 'BENTAYGA'
 'A8 E' 'S-10 PICKUP']
Value Counts:
Model
MODEL 3        26766
MODEL Y        26194
LEAF           13093
MODEL S         7542
BOLT EV         5599
               ...
BENTAYGA           2
A8 E               2
918                1
FLYING SPUR        1
S-10 PICKUP        1
Name: count, Length: 127, dtype: int64

Column 'Electric Vehicle Type':
Unique Values:
['Plug-in Hybrid Electric Vehicle (PHEV)' 'Battery Electric Vehicle (BEV)']
Value Counts:
Electric Vehicle Type
Battery Electric Vehicle (BEV)            110865
Plug-in Hybrid Electric Vehicle (PHEV)     32731
Name: count, dtype: int64

Column 'Clean Alternative Fuel Vehicle (CAFV) Eligibility':
Unique Values:
['Clean Alternative Fuel Vehicle Eligible'
 'Not eligible due to low battery range'
 'Eligibility unknown as battery range has not been researched']
Value Counts:
Clean Alternative Fuel Vehicle (CAFV) Eligibility
Eligibility unknown as battery range has not been researched    63954
Clean Alternative Fuel Vehicle Eligible                         62149
Not eligible due to low battery range                           17493
Name: count, dtype: int64

Column 'Vehicle Location':
Unique Values:
['POINT (-122.38242499999996 47.77279000000004)'
 'POINT (-120.37951169999997 46.55609000000004)'
 'POINT (-122.37275999999997 47.689685000000054)'
 'POINT (-122.15733999999998 47.487175000000036)'
 'POINT (-122.65223 47.57192)'
 'POINT (-120.54187999999999 46.654175000000066)'
 'POINT (-122.201905 47.61385)'
 'POINT (-122.88747809999995 47.051957300000026)'
 'POINT (-120.52401199999997 46.59739390000004)'
 'POINT (-122.12302 47.67668)' 'POINT (-122.296385 47.71558)'
 'POINT (-122.92145 47.045935)' 'POINT (-122.50156 47.8019)'
 'POINT (-122.378895 47.66905)' 'POINT (-122.209285 47.71124)'
 'POINT (-122.11206499999997 48.00434500000006)'
 'POINT (-122.89692 47.043535)'
 'POINT (-122.29956999999996 47.94187000000005)'
 'POINT (-122.20577999999995 47.76240500000006)'
 'POINT (-122.68516419999997 47.50645300000008)'
 'POINT (-120.60272019999996 46.59656250000006)'
 'POINT (-120.47780499999999 46.55350500000003)'
 'POINT (-122.31327 47.32329)' 'POINT (-122.1713847 48.10433)'
 'POINT (-122.54482999999999 47.41801000000004)'
 'POINT (-122.68987759999999 46.89084920000005)'
 'POINT (-122.81709 46.988575)'
 'POINT (-122.34583999999995 47.76726000000008)'
 'POINT (-123.09574999999995 46.82114000000007)'
 'POINT (-122.12324 48.19485)'
 'POINT (-122.61022999999994 46.94126000000006)'
 'POINT (-122.33568499999996 47.803720000000055)'
 'POINT (-121.17616319999996 47.24106000000006)'
 'POINT (-122.3219166 47.4013897)' 'POINT (-122.1873 47.82024500000006)'
 'POINT (-120.31286999999998 46.37534000000005)'
 'POINT (-122.64176999999995 47.73752500000006)'
 'POINT (-122.16936999999996 47.571015000000045)'
 'POINT (-122.55716999999999 47.733415000000036)'
 'POINT (-122.639265 47.5373)'
 'POINT (-122.17945799999995 47.80258900000007)'
 'POINT (-122.32689629999999 47.54995190000005)'
 'POINT (-122.8285 47.03646)' 'POINT (-122.37439 47.54468)'
 'POINT (-122.64688149999995 47.63443640000003)'
 'POINT (-122.28339 47.549285)'
 'POINT (-122.23438499999997 47.49454500000007)'
 'POINT (-122.30823 47.581975)'
 'POINT (-122.35614499999997 47.52104000000003)'
 'POINT (-122.7510253 47.08149)'
 'POINT (-122.34300999999999 47.659185000000036)'
 'POINT (-122.17673 48.05542)'
 'POINT (-122.66807599999999 47.66597800000005)'
 'POINT (-122.52357809999995 47.629332300000044)'
 'POINT (-122.2012521 47.3931814)' 'POINT (-122.37507 47.80807000000004)'
 'POINT (-122.22477569999995 47.91564090000003)'
 'POINT (-120.544475 46.994)'
 'POINT (-122.61530499999998 48.50127500000008)'
 'POINT (-122.68127499999997 48.21784000000008)'
 'POINT (-117.34964999999994 48.01754500000004)'
 'POINT (-118.34331999999995 46.06398500000006)'
 'POINT (-120.32009 47.42255000000006)'
 'POINT (-117.07513999999998 46.909845000000075)'
 'POINT (-121.97221499999995 47.85674000000006)'
 'POINT (-122.2559465 47.86567880000007)' 'POINT (-122.338975 48.41333)'
 'POINT (-122.20722 47.979935)'
 'POINT (-122.29726499999998 47.84182000000004)'
 'POINT (-122.1298876 47.4451257)'
 'POINT (-122.15133999999995 47.88511580000005)'
 'POINT (-117.17911999999995 46.73088500000006)'
 'POINT (-122.36840509999996 48.24149210000007)'
 'POINT (-120.500225 46.6043)'
 'POINT (-122.70610519999997 47.68848000000003)'
 'POINT (-122.3164188 47.819664)'
 'POINT (-122.44063599999998 48.56138850000008)'
 'POINT (-122.91310169999997 47.01359260000004)'
 'POINT (-122.32295499999998 48.41520000000003)'
 'POINT (-122.35936399999997 47.97965520000008)'
 'POINT (-117.42526499999997 47.635365000000036)'
 'POINT (-120.26033999999999 46.40493500000008)'
 'POINT (-120.66191529999998 47.59700830000003)'
 'POINT (-122.40801499999998 48.035570000000064)'
 'POINT (-122.21310499999998 47.95479000000006)'
 'POINT (-119.78373499999998 36.303825000000074)' nan
 'POINT (-120.93829499999998 47.19538000000006)'
 'POINT (-122.09150499999998 47.91555500000004)'
 'POINT (-118.15323999999998 46.268335000000036)'
 'POINT (-122.8551647 47.4495785)' 'POINT (-120.015875 47.83989500000007)'
 'POINT (-122.34848 47.632405)' 'POINT (-122.32863 47.46233)'
 'POINT (-122.29179 47.43473)' 'POINT (-122.147385 47.599975)'
 'POINT (-122.11832 47.6245)'
 'POINT (-122.03308999999996 47.58153000000004)'
 'POINT (-122.64839529999995 45.70104270000007)'
 'POINT (-122.84746199999995 47.638360000000034)'
 'POINT (-122.18050499999998 47.50005500000003)'
 'POINT (-122.40556499999997 45.59009000000003)'
 'POINT (-122.9379953 46.1372997)'
 'POINT (-122.16084999999998 47.62451500000003)'
 'POINT (-122.31749999999994 47.757814600000074)'
 'POINT (-122.30763999999999 47.625230000000045)'
 'POINT (-122.319115 47.66132)' 'POINT (-122.1820969 47.3198995)'

In [14]:
df[['Electric Range', 'Base MSRP']].describe()

       Electric Range      Base MSRP
count   143596.000000  143596.000000
mean        70.495738    1373.386515
std         97.128735    9450.067747
min          0.000000       0.000000
25%          0.000000       0.000000
50%         19.000000       0.000000
75%        111.000000       0.000000
max        337.000000  845000.000000

In [22]:
df["Base MSRP"].value_counts().head(5)

Base MSRP
0        140151
69900      1446
31950       401
52900       217
32250       149
Name: count, dtype: int64

In [23]:
df["Electric Range"].value_counts().head(5)

Electric Range
0      63954
215     6472
220     4154
84      4039
238     3550
Name: count, dtype: int64

In [25]:
# Extract the required columns 'Electric Range' and 'Base MSRP' from the dataframe
subset_df = df[['Electric Range', 'Base MSRP']]

# Calculate IQR for Electric Range
Q1_ER = subset_df['Electric Range'].quantile(0.25)
Q3_ER = subset_df['Electric Range'].quantile(0.75)
IQR_ER = Q3_ER - Q1_ER

# Calculate IQR for Base MSRP
Q1_BM = subset_df['Base MSRP'].quantile(0.25)
Q3_BM = subset_df['Base MSRP'].quantile(0.75)
IQR_BM = Q3_BM - Q1_BM

# Find outliers for Electric Range based on IQR
outliers_electric_range_iqr = subset_df[
    (subset_df['Electric Range'] < (Q1_ER - 1.5 * IQR_ER)) | 
    (subset_df['Electric Range'] > (Q3_ER + 1.5 * IQR_ER))
]

# Find outliers for Base MSRP based on IQR
outliers_base_msrp_iqr = subset_df[
    (subset_df['Base MSRP'] < (Q1_BM - 1.5 * IQR_BM)) | 
    (subset_df['Base MSRP'] > (Q3_BM + 1.5 * IQR_BM))
]

# Print the outliers for Electric Range
print('Outliers in Electric Range:')
print(outliers_electric_range_iqr['Electric Range'])

# Print the outliers for Base MSRP
print('\nOutliers in Base MSRP:')
print(outliers_base_msrp_iqr['Base MSRP'])

Outliers in Electric Range:
15        293
67        322
71        293
76        289
81        291
         ...
143473    289
143513    293
143535    291
143587    291
143589    291
Name: Electric Range, Length: 5942, dtype: int64

Outliers in Base MSRP:
3         69900
60        69900
88        69900
181       31950
199       33950
          ...
143435    36900
143531    54950
143534    34995
143545    54950
143558    69900
Name: Base MSRP, Length: 3445, dtype: int64

In [26]:
df1 = pd.read_csv(r"asserts\Electric_Vehicle_Population_Size_History_By_County.csv")
df1.head(5)

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,November 30 2020,St. Mary's,MD,Passenger,1,0,1,215,216,0.46
1,February 28 2021,Sedgwick,KS,Passenger,1,1,2,89,91,2.20
2,November 30 2017,New Haven,CT,Passenger,0,1,1,53,54,1.85
3,April 30 2021,Thurston,WA,Truck,0,0,0,56710,56710,0.00
4,October 31 2017,Adams,WA,Passenger,3,3,6,12283,12289,0.05

## Column Dictionary

In [26]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17965 entries, 0 to 17964
Data columns (total 10 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Date                                      17965 non-null  object
 1   County                                    17886 non-null  object
 2   State                                     17886 non-null  object
 3   Vehicle Primary Use                       17965 non-null  object
 4   Battery Electric Vehicles (BEVs)          17965 non-null  int64
 5   Plug-In Hybrid Electric Vehicles (PHEVs)  17965 non-null  int64
 6   Electric Vehicle (EV) Total               17965 non-null  int64
 7   Non-Electric Vehicle Total                17965 non-null  int64
 8   Total Vehicles                            17965 non-null  int64
 9   Percent Electric Vehicles                 17965 non-null  float64
dtypes: float64(1), int64(5), object(4)
memory usage: 1.4+ MB

- Date: The date for the data entry. It appears to be formatted as "Month Day Year" and end-of-period date for the data provided.

- County: The name of the county.

- State: The state in which the mentioned county is located.

- Vehicle Primary Use: The primary use of the vehicle (e.g., "Passenger," "Truck").

- Battery Electric Vehicles (BEVs): The count of BEVs in the given county, state, and date.

- Plug-In Hybrid Electric Vehicles (PHEVs): The count of PHEVs in the given county, state, and date.

- Electric Vehicle (EV) Total: The total count of all types of electric vehicles.

- Non-Electric Vehicle Total: The count of vehicles that are not electric.

- Total Vehicles: The total number of all vehicles, including both electric and non-electric.

- Percent Electric Vehicles: The percentage of electric vehicles out of the total number of vehicles

In [27]:
# Check for duplicate rows in the dataframe
duplicate_rows = df1.duplicated()

# Count the number of duplicate rows
num_duplicate_rows = duplicate_rows.sum()

print(f"Number of duplicate rows = {duplicate_rows.sum()}")

Number of duplicate rows = 0

In [29]:
missing_values = df1.isnull().sum()
for column, count in missing_values.items():
    print(f"Column '{column}' has {count} missing values.")

Column 'Date' has 0 missing values.
Column 'County' has 79 missing values.
Column 'State' has 79 missing values.
Column 'Vehicle Primary Use' has 0 missing values.
Column 'Battery Electric Vehicles (BEVs)' has 0 missing values.
Column 'Plug-In Hybrid Electric Vehicles (PHEVs)' has 0 missing values.
Column 'Electric Vehicle (EV) Total' has 0 missing values.
Column 'Non-Electric Vehicle Total' has 0 missing values.
Column 'Total Vehicles' has 0 missing values.
Column 'Percent Electric Vehicles' has 0 missing values.

In [38]:
describe_categorical_columns(df1)

Column 'Date':
Unique Values:
['November 30 2020' 'February 28 2021' 'November 30 2017' 'April 30 2021'
 'October 31 2017' 'July 31 2018' 'February 29 2020' 'January 31 2017'
 'August 31 2019' 'October 31 2019' 'September 30 2017'
 'September 30 2020' 'July 31 2021' 'June 30 2018' 'March 31 2018'
 'November 30 2022' 'March 31 2017' 'November 30 2021' 'January 31 2019'
 'April 30 2019' 'June 30 2021' 'September 30 2022' 'July 31 2023'
 'June 30 2017' 'December 31 2018' 'May 31 2017' 'October 31 2022'
 'October 31 2021' 'April 30 2018' 'October 31 2020' 'September 30 2018'
 'February 28 2022' 'May 31 2022' 'July 31 2017' 'April 30 2017'
 'March 31 2021' 'June 30 2023' 'January 31 2023' 'February 28 2023'
 'March 31 2020' 'December 31 2022' 'May 31 2019' 'March 31 2022'
 'April 30 2022' 'January 31 2022' 'May 31 2020' 'November 30 2018'
 'July 31 2022' 'June 30 2022' 'December 31 2020' 'August 31 2021'
 'August 31 2017' 'August 31 2018' 'August 31 2020' 'May 31 2021'
 'December 31 2019' 'October 31 2018' 'February 28 2018' 'January 31 2021'
 'April 30 2020' 'May 31 2023' 'June 30 2019' 'January 31 2020'
 'February 28 2019' 'December 31 2017' 'August 31 2022' 'March 31 2019'
 'November 30 2019' 'April 30 2023' 'May 31 2018' 'December 31 2021'
 'September 30 2019' 'February 28 2017' 'September 30 2021' 'July 31 2019'
 'January 31 2018' 'July 31 2020' 'March 31 2023' 'June 30 2020']
Value Counts:
Date
February 28 2022     261
January 31 2022      260
November 30 2021     259
October 31 2021      258
March 31 2022        257
                    ...
October 31 2017      186
September 30 2017    185
March 31 2017        185
August 31 2017       184
July 31 2017         181
Name: count, Length: 79, dtype: int64

Column 'County':
Unique Values:
["St. Mary's" 'Sedgwick' 'New Haven' 'Thurston' 'Adams' 'Whatcom'
 'Spartanburg' 'Nantucket' 'Collier' 'Grays Harbor' 'Cowlitz' 'Santa Fe'
 'Washoe' 'Howard' 'Spokane' 'Kittitas' 'Solano' 'Palm Beach' 'Cape May'
 'Whitman' 'Portsmouth' 'Pierce' 'District of Columbia' 'Gwinnett'
 'Calvert' 'Madison' 'Hardin' 'Franklin' 'Pend Oreille' 'Hamilton' 'Clark'
 'Volusia' 'Suffolk' 'Danville' "Prince George's" 'Pinal' 'San Juan'
 'Richmond' 'Duval' 'Santa Clara' 'Travis' nan 'San Joaquin' 'Albemarle'
 'Wood' 'Okaloosa' 'Baltimore' 'Mason' 'Hillsborough' 'Chelan' 'Moore'
 'New London' 'Wichita' 'Norfolk' 'Pacific' 'Walla Walla' 'El Paso'
 'Broward' 'Saratoga' 'DeKalb' 'Jefferson' 'Garfield' 'Prince William'
 'St. Louis' 'Tuolumne' 'Klickitat' 'Lincoln' 'Island' 'Kauai' 'Camden'
 'Erie' 'Powhatan' 'Lewis' 'Lane' 'Ventura' 'Charleston' 'Boulder'
 'Fort Bend' 'Grant' 'Honolulu' 'Klamath' 'Kitsap' 'Arlington' 'Nassau'
 'Asotin' 'Brevard' 'Penobscot' 'Lake' 'RÃ\xado Grande' 'Goochland'
 'Sumter' 'Loudoun' 'Cumberland' 'Ferry' 'Stevens' 'Sarasota' 'Douglas'
 'Santa Barbara' 'Los Angeles' 'Sacramento' 'Collin' 'Allegheny'
 'Wahkiakum' 'Contra Costa' 'Hudson' 'Richland' 'Montgomery' 'Sangamon'
 'Anne Arundel' 'Monroe' 'Lee' 'Dallas' 'Marion' 'Clallam' 'Skamania'
 'Canyon' 'Benton' 'San Francisco' 'Columbia' 'Bartow' 'Virginia Beach'
 'Rogers' 'Snohomish' 'Juneau' 'Polk' 'Dale' 'Guadalupe' 'Skagit' 'Ada'
 'Tarrant' 'Wake' 'King' 'San Diego' 'Oldham' 'Alameda' 'Greene' 'Louisa'
 'Owyhee' 'Arapahoe' 'Houston' 'Hennepin' 'Cook' 'Okanogan' 'Essex'
 'Santa Cruz' 'Bucks' 'Orange' 'Milwaukee' 'Fairbanks North Star'
 'Hidalgo' 'DuPage' 'Lumpkin' 'Bexar' 'Kings' 'Hawaii' 'Anchorage'
 'Platte' 'Sevier' 'Monterey' 'Randolph' 'Larimer' 'Beaufort'
 'St. Tammany' 'Harrison' 'Fulton' 'Maui' 'Geary' 'Kent' 'Carroll'
 'Williams' 'Shelby' 'Ray' 'Vernon' 'Rock Island' 'Twin Falls'
 'Washington' 'Placer' 'Riverside' 'Cochise' 'Fairfax' 'Stafford'
 'Yellowstone' 'Frederick' 'Harnett' 'Denton' 'Bell' 'San Bernardino'
 'Napa' 'Clackamas' 'Wilson' 'Charles' 'Miami-Dade' 'Coryell' 'Middlesex'
 'Pima' 'Multnomah' 'Philadelphia' 'Washtenaw' 'Nueces' 'Manatee'
 'Pennington' 'Jones' 'Dakota' 'Carson City' 'Leavenworth' 'Maricopa'
 'San Mateo' 'Cascade' 'Williamson' 'Kootenai' 'Rockingham' 'Utah'
 'Yakima' 'Emmet' 'Pulaski' 'Elmore' 'Salt Lake' 'Onslow' 'Plaquemines'
 'Kern' 'Hampshire' 'Saginaw' 'Durham' 'Sarpy' 'Rockdale' 'Dane' 'Queens'
 'Dorchester' 'Alexandria' 'Sonoma' 'Bergen' 'Flathead' 'Marin' 'Latah'
 'Yavapai' 'Missoula' 'Boone' 'St. Lucie' 'Guilford' 'Manassas' 'Fresno'
 'Clay' 'Galveston' 'Las Animas' 'Osceola' 'Newport News' 'St. Clair'
 'Caddo' 'Shasta' 'Burlington' 'Escambia' 'Wayne' 'Chesapeake' 'Ramsey'
 'Morris' 'Tulsa' 'Berkeley' 'Orleans' 'Ulster' 'Denver' 'El Dorado'
 'Champaign' 'Vigo' 'Jackson' 'Oklahoma' 'Northampton' 'Brown'
 'Santa Rosa' 'Harris' 'Yamhill' 'Deschutes' 'Bradley' 'Prince George'
 'Mecklenburg' 'Hoke' 'New York' 'Berkshire' 'Valencia' 'Cobb' 'Allen'
 'San Luis Obispo' 'Putnam' 'Pinellas' 'Sheridan' 'Tulare' 'Bryan'
 'Muscogee' 'Shoshone' 'Hood River' 'Union' 'Bernalillo']
Value Counts:
County
Montgomery    272
Jefferson     269
Douglas       259
Clark         237
Franklin      205
             ...
Bernalillo      2
Brown           1
Collier         1
Hood River      1
Union           1
Name: count, Length: 290, dtype: int64

Column 'State':
Unique Values:
['MD' 'KS' 'CT' 'WA' 'SC' 'MA' 'FL' 'NM' 'NV' 'IN' 'CA' 'NJ' 'VA' 'DC'
 'GA' 'IL' 'KY' 'OH' 'AZ' 'TX' nan 'NC' 'CO' 'NY' 'MO' 'HI' 'OR' 'ME' 'PR'
 'PA' 'AL' 'ID' 'NE' 'OK' 'AK' 'MN' 'WI' 'AR' 'LA' 'MS' 'MI' 'ND' 'TN'
 'MT' 'NH' 'SD' 'UT' 'DE' 'WY']
Value Counts:
State
WA    6162
CA    1381
VA    1008
TX     931
FL     909
MD     647
GA     468
NY     412
OR     401
CO     368
NC     345
IL     332
NJ     313
ID     259
SC     249
HI     248
MA     237
PA     235
AZ     222
IN     203
MO     186
MN     164
NV     161
CT     158
MI     145
AK     140
KS     133
MT     133
OK     124
OH     116
NH     115
TN     112
AL     105
LA     100
KY      86
NE      83
DC      79
UT      78
NM      59
MS      49
ME      48
PR      46
AR      36
ND      34
SD      24
WI      19
WY      14
DE       9
Name: count, dtype: int64

Column 'Vehicle Primary Use':
Unique Values:
['Passenger' 'Truck']
Value Counts:
Vehicle Primary Use
Passenger    14850
Truck         3115
Name: count, dtype: int64

In [39]:
df1[['Battery Electric Vehicles (BEVs)', 'Electric Vehicle (EV) Total', "Percent Electric Vehicles"]].describe()

,Battery Electric Vehicles (BEVs),Electric Vehicle (EV) Total,Percent Electric Vehicles
count,17965.000000,17965.000000,17965.000000
mean,202.596104,281.354133,3.837090
std,2017.309902,2613.246332,10.886949
min,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.320000
50%,1.000000,1.000000,1.090000
75%,3.000000,4.000000,2.560000
max,58610.000000,73335.000000,100.000000